.image
{
    margin:10%;
}

.input
{
    border: 2px solid rgb(10, 10, 221);

   
}
.button
{
    border:1px solid palevioletred;
    margin-right:50px;


}
.form
{

    background-color: rgb(201, 194, 194);
    width:400px;
    height:450px;
    align-items: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-20%);
    border-radius: 12px;

    
}

